<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Example of node js on Azure</h1>
        <p>Hello, Andriy Mykolayovich</p>
    </div>

    <div>
        <form action="/file-upload" enctype="multipart/form-data" method="post">
            <input type="text" name="title"><br>
            <input type="file" name="uploadFile" multiple="multiple"><br>
            <input type="submit" value="Upload">
            </form>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>